:root {
  --def-color: #564dd6;
  --def-background: #f2f8ff;
  --md-admonition-icon--def: url(../assets/images/bolt-solid.svg)
}

.md-typeset .admonition.def,
.md-typeset details.def {
  font-weight: 900 ;
  font-size: .78rem ;
  border-bottom: .05rem solid ;
  border-color: var(--def-color) ;
  box-shadow: 0 1.5rem 1.9rem rgba(0,0,0,.05),0 0 1.1rem rgba(0,0,0,.1) ;
}

/* .md-typeset .def > .admonition-title,
.md-typeset .def > summary {
  border-color: rgb(43, 155, 70);
  background-color: var(--def-background);
} */

.md-typeset .def > .admonition-title::before,
.md-typeset .def > summary::before {
  -webkit-mask-image: url(../assets/images/bolt-solid.svg) ;
  mask-image: url(../assets/images/bolt-solid.svg) ;
  mask-repeat: no-repeat ;
  mask-size: contain ;
  background-color: var(--def-color) ;
  margin-top: 3px ;
}

div.arithmatex {
  overflow: visible !important;
}

.md-typeset div.arithmatex > * {
  padding: 0 !important;
}

.hangul_fallback {
  font-family: "Nanum Gothic",-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif !important;
  font-size: 0.68rem !important;
}

/* div.md-sidebar:nth-child(2) */

div.md-main__inner.md-grid div.md-sidebar.md-sidebar--secondary {
  top: 1.4rem !important;
}

nav.md-nav.md-nav--secondary, nav.md-nav.md-nav--secondary ul.md-nav__list li.md-nav__item nav.md-nav ul.md-nav__list {
  font-size: .6rem !important;
  line-height: 1.2 !important;
}


div.index {
  font-family: Consolas, "Courier New", monospace;
  line-height: 3.8px;
  font-size: 18px !important;
  overflow-x: visible !important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.katex-display {
  overflow: visible !important;
  width: auto !important;
}

.md-typeset {
  font-size: .68rem !important;
}

.md-typeset table:not([class]) th {
  min-width: auto !important;
  color: black !important;
  background-color: whitesmoke !important;
}

/* .md-header-nav__title {
  line-height: 2.0rem !important;
}

.md-header {
  height: 2.0rem !important;
} */

.md-header-nav__button {
  margin: .1rem !important;
}

.md-header-nav__title {
  font-size: .7rem !important;
}